table,td,th {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 5px;
}
/*
th:hover,td:hover {
	color: #ff00ff
}
*/
.listelem:hover  {
	background-color: #eeeeee;
}

.listelem{
	float: right;
}

.sellistelem{
	background-color: #168F10;
}
.sellistelem:hover{
	background-color: #57A353;
}

.buttonstyle{
	float: right;
}

.danger{
	background-color: #ff0000
}

.warning{
	background-color: #aaaa00
}

.good{
	background-color: #00ff00
}

.testclass{
	background-color: #ff00ff;
}

.sidebar{
	
	position: fixed;
	left: 20px;
	top: 0;
}
