table,td,th {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 5px;
	/*width: 1%;
	height: 1%;*/
}
/*
th:hover,td:hover {
	color: #ff00ff
}
*/
.listelem:hover  {
	background-color: #eeeeee;
}

.listelem{
	float: right;
}

.sellistelem{
	background-color: #168F10;
}
.sellistelem:hover{
	background-color: #57A353;
}

.buttonstyle{
	float: right;
}

.danger{
	background-color: #DE3737;
}
.danger:hover{
	background-color: #DEBFC3;
}

.warning{
	background-color: #D3E322;
}
.warning:hover{
	background-color: #EFF2BB;
}

.good{
	background-color: #3B9C44;
}

.good:hover{
	background-color: #A9C9AC;
}

.testclass{
	background-color: #ff00ff;
}

.sidebar{
	
	position: fixed;
	left: 20px;
	top: 0;
}

.sched{
	width: 100%;
	height: 100%;
}