<html>
	<head>
		<title>lessmesssess</title>
		<link rel="stylesheet" type="text/css" href="/static/style/styles.css">
		<script type="text/javascript" src="/static/js/scripts.js"></script>
	</head>
	<body dir='rtl'>
		<p>logged in as: {{user}}</p>
		<form name="input" action="" method="get">
		<div>
		{% for course in selected_courses + unselected_courses %}
			
			<div class="listelem" onclick="item_onclick(this)">
				{% if course in selected_courses %}
					<input type="checkbox" name="clsl" value={{course.__hash__()}} class="buttonstyle" checked>
				{% else %}
					<input type="checkbox" name="clsl" value={{course.__hash__()}} class="buttonstyle">
				{% endif %}
				<hr>
				<h3>{{ course.name }}</h3>
				
				<table border="1" width="1000px" class="tableelem">
					<tr>
						<th>استاد</th>
						<th>ساعات تشکیل</th>
						<th>تاریخ امتحان</th>
						<th>ساعت امتحان</th>
						<th>جنسیت</th>
						<th>رشته های مجاز</th>
						<th>واحد</th>
						<th>ظرفیت</th>
						<th>تعداد ثبت نام کرده</th>
						<th>id</th>
					</tr>
					<tr>
						<td>{{course.professor}}</td>
						<td>{{course.get_class_time_string()}}</td>
						<td>{{course.final_exam_date and course.final_exam_date.strftime('%A %d %B %Y')}}</td>
						<td>{{course.get_final_exam_time_string()}}</td>
						<td>{{course.allowed_sex}}</td>
						<td>{{course.allowed_fields}}</td>
						<td>{{course.vahed}}</td>
						<td>{{course.capacity}}</td>
						<td>{{course.enrolled_num}}</td>
						<td dir='ltr' tag="hash_id">{{course.__hash__()}}</td>
					</tr>
				</table>
			</div>
			
		{% endfor %}
		</div>
		<div dir='ltr' class="sidebar">
			<p>
				<select name="dep">
					{% for dep in departments%}
						{% if dep == filter_strings[4] %}
							<option value="{{dep}}" selected="selected">{{dep}}</option>
						{% else %}
							<option value="{{dep}}">{{dep}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</p>
			
				<p>
					Course Name Filter:
					<input type="text" name="cnf" value="{{filter_strings[0] or ''}}">

				</p>
				<p>
					Professor Name Filter:
					<input type="text" name="pnf" value="{{filter_strings[1] or ''}}">
				</p>
				<p>
					Course Day Filter:
					<input type="text" name="cdf" value="{{filter_strings[2] or ''}}">
				</p>
				<p>
					Course Time Filter:
					<input type="text" name="ctf" value="{{filter_strings[3] or ''}}">
				</p>
				<input type="submit" name="btn" value="Submit">
				<input type="submit" name="btn" value="Schedule">
			
		</div>
		
		</form>
	</body>
</html>